<link rel="stylesheet" type="text/css" href={{css}}>
<h1 class="display-3 text-center">
    {{heading1}}
</h1>
<div class="container ">
    <div class="row">
        <div class="about-description col-lg-8 col-md-12">
            <p class="">
                <p class='text-center text-md-left lead'>{{{content.p1}}}</p>
                <p class='text-center text-md-left text-muted lead'>{{{content.p2}}}</p>
                <p class='text-center text-md-left lead'>{{{content.p3}}}</p>
            </p>
            <hr>
        </div>
        <div class="about-image col-lg-4 col-md-6 col-sm-12 text-center">
            <img class="img-fluid rounded" src="/img/about/About1.gif" alt="">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-center text-md-left contact-section">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{contactInfo.title}}</h5>
                    <hr>
                    <dl class="row contact-info ">
                        <dt class="col-md-5 col-lg-5">{{contactInfo.name.description}}:</dt>
                        <dd class="col-md-7 col-lg-7">{{contactInfo.name.value}}</dd>
                        <dt class="col-md-5 col-lg-5">{{contactInfo.address.description}}:</dt>
                        <dd class="col-md-7 col-lg-7">{{contactInfo.address.value}}</dd>
                        <dt class="col-md-5 col-lg-5">{{contactInfo.phone.description}}:</dt>
                        <dd class="col-md-7 col-lg-7">{{contactInfo.phone.value}}</dd>
                        <dt class="col-md-5 col-lg-5">{{contactInfo.email.description}}:</dt>
                        <dd class="col-md-7 col-lg-7">{{contactInfo.email.value}}</dd>
                        <dt class="col-md-5 col-lg-5">{{contactInfo.website.description}}:</dt>
                        <dd class="col-md-7 col-lg-7">
                            <a href="https://www.seastorm-sailing.com">{{contactInfo.website.value}}</a></dd>
                        <dt class="col-md-5 col-lg-5">{{contactInfo.facebook.description}}:</dt>
                        <dd class="col-md-7 col-lg-7">
                            <a href="{{contactInfo.facebook.link}}" target="_blank">{{contactInfo.facebook.value}}</a>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
</div>