<!-- Page Start -->
<link rel="stylesheet" type="text/css" href={{css}}>
<h1 class="display-3 text-center">
    SeaStorm Sailing&nbsp<img class="inline-logo img-fluid" src="/img/logo/logo.gif" alt="Company Logo">
</h1>

<!-- Carousel -->

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            ​<picture>
                <source srcset="/img/carousel/img1.gif" type="image/gif">
                <img src="/img/carousel/img1.gif" class="img-fluid" alt="...">
            </picture>
        </div>
        <div class="carousel-item">
            ​<picture>
                <source srcset="/img/carousel/img2.gif" type="image/gif">
                <img src="/img/carousel/img2.gif" class="img-fluid" alt="...">
            </picture>
        </div>
        <div class="carousel-item">
            ​<picture>
                <source srcset="/img/carousel/img3.gif" type="image/gif">
                <img src="/img/carousel/img3.gif" class="img-fluid" alt="...">
            </picture>
        </div>
        <div class="carousel-item">
            ​<picture>
                <source srcset="/img/carousel/img4.gif" type="img/gif">
                <img src="/img/carousel/img4.gif" class="img-fluid" alt="...">
            </picture>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- Marketing Section -->

<div class="container-fluid marketing">
    <div class="container ">
        <h1 class="text-center">{{heading1}}</h1>
        <hr>
        <div class="row">
            <div class="col-lg-4">
                <img src="/img/homepage/sola_jadranja/solaJadranja.gif" class="img-fluid" width="200rem" height="200rem"
                    alt="Sailing School">
                <h2>{{expo1.title}}</h2>
                <p>{{expo1.text}}</p>
                <p><a class="btn btn-secondary" href="/sl/School" role="button">{{expo1.more}} &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <img src="/img/homepage/jadralski_izleti/jadralskiIzleti.gif" class="img-fluid" width="200rem"
                    height="200rem" alt="Sailing Trips">
                <h2>{{expo2.title}}</h2>
                <p>{{expo2.text}}</p>
                <p><a class="btn btn-secondary" href="/sl/Trips" role="button">{{expo2.more}} &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <img src="/img/homepage/teambuilding/teambuilding.gif" class="img-fluid" width="200rem" height="200rem"
                    alt="Teambuilding">
                <h2>{{expo3.title}}</h2>
                <p>{{expo3.text}}</p>
                <p><a class="btn btn-secondary" href="/sl/Teambuilding" role="button">{{expo3.more}} &raquo;</a></p>
            </div>
        </div>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="homepage-video embed-responsive-item" width="560" height="315"
                src="https://www.youtube-nocookie.com/embed/up04fbdqPfY" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</div>

<!-- Testemonials -->

<!--div class="container">
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your
                    mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                role="img" aria-label="Placeholder: 500x500">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                    dy=".3em">500x500</text>
            </svg>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for
                    yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                role="img" aria-label="Placeholder: 500x500">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                    dy=".3em">500x500</text>
            </svg>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                role="img" aria-label="Placeholder: 500x500">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                    dy=".3em">500x500</text>
            </svg>
        </div>
    </div>
</div-->
<hr class="featurette-divider">
</div>