<h1 class="display-3 text-center">
    {{heading1}}
</h1>
<hr>
<div class="container ">
    <div class="row">
        <div class="about-description col-md-12">
            <p class="">
                <p class='text-center text-md-left lead'>{{{content.p1}}}</p>
                <p class='text-center text-md-left lead'>{{{content.p2}}}</p>
                <p class='text-center text-md-left lead'>{{{content.p3}}}</p>
                <dl>
                    <dt>{{content.price}}</dt>
                </dl>
            </p>
            <hr>
        </div>
        <div class="col-md-12 text-center text-md-left contact-section">
            <img src="/img/teambuilding/teambuilding1.gif" alt="{{img1}}" class="img-fluid rounded">
        </div>
    </div>
</div>